## Car Accidents During COVID Stay-At-Home Periods Analysis
This notebook is using data collected and cleaned in the `car_accidents_eda.ipynb` notebook, and will be used for examining differences state-by-state for severity and frequency of car accidents.  Tableau graphs will be used for final graphs, but this notebook gives a sense of direction.

First, import libraries and modules needed >

In [10]:
import pickle
import pandas as pd

Now import the dataset created and prepared for analysis >

In [11]:
# open our master dataset for analysis

with open('pickle/car_accidents_master.pickle','rb') as read_file:
    car_accidents_master = pickle.load(read_file)

Note that we are looking at our dataset before it was narrowed for modeling (e.g. only severity 2 & 3, only using mapquest-sourced data).  For the analysis we'll be doing here we can look at the full dataset.

But first we'll narrow to only the columns we'll be using, which are date, state, whether in period of shutdown, and severity of the accident >

In [12]:
accident_covid = car_accidents_master[['Severity','Date',
                                       'State','Year','Month',
                                       'Day','Day_Of_Week',
                                       'Shut_Down'
                                      ]]

In [13]:
accident_covid.State.value_counts()[:9].sum()/accident_covid.State.value_counts().sum()

0.6280952943470396

First we'll focus on the state with the highest amount of accidents, as they will provided more data to then draw better conclusions from and also are of greater interest since more need to address car accidents.  We'll focus on the 10 states that have the most car accidents, which also represent 63% of total accidents in our full dataset for the US.  Those states are: CA, TX, FL, SC, NC, NY, PA, IL, VA, and MI.  These states also vary in time period of shutdown and political leanings that may influence behavior around a shutdown period, so we have nice diversity for comparison.

For each state, we'll create dataframes for separate periods we want to analyze and compare.  We'll compare stay-at-home order periods with past three years in that same period.

First we'll create functions to get the data we'll need for each state >

In [14]:
def severity_percent(state_data):
    '''
    Takes in state data and returns
    a list of percentages for each 
    severity level to total accidents.
    '''
    percentages = []
    if 1 not in sorted(state_data.Severity.unique()):
        percentages.append(0)
    
    for x in sorted(state_data.Severity.unique()):
        percent = state_data.Severity.value_counts()[x]/state_data.Severity.count()
        percentages.append(round((percent*100),2))
    
    if 4 not in sorted(state_data.Severity.unique()):
        percentages.append(0)
    
    return percentages

### California

First create periods we'll want to compare for the state >

In [15]:
# full state period
ca_ttl = accident_covid[(accident_covid.State == 'CA')]

# shutdown period
ca_sd = accident_covid[
    (accident_covid.State == 'CA') & 
    (accident_covid.Shut_Down == 1)]

# 2019 
# note CA is still in shutdown, so we're comparing to when dataset ended in 2020
#    not when their stay-at-home orders ended

ca_2019 = accident_covid[(car_accidents_master['Date'] > '2019-03-19') & 
                         (car_accidents_master['Date'] <= '2019-06-30') & 
                         (car_accidents_master['State'] == 'CA')]

# 2018
ca_2018 = accident_covid[(car_accidents_master['Date'] > '2018-03-19') & 
                         (car_accidents_master['Date'] <= '2018-06-30') & 
                         (car_accidents_master['State'] == 'CA')]

# 2017
ca_2017 = accident_covid[(car_accidents_master['Date'] > '2017-03-19') & 
                         (car_accidents_master['Date'] <= '2017-06-30') & 
                         (car_accidents_master['State'] == 'CA')]

#### Frequency
Now compare frequencies (total number) of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018, & 2017 being in same month-day date range as shut-down period) >

In [16]:
# find total frequencies for state total and in each period 

ca_freqs = [ca_ttl.shape[0],
            ca_sd.shape[0],
            ca_2019.shape[0],
            ca_2018.shape[0],
            ca_2017.shape[0]
           ]

# then develop a simple dataframe to compare them
ca_freq_data = pd.DataFrame({'Timeframe': ['Total','Shut_Down',2019,2018,2017],
                                 'Num_Accidents': ca_freqs})

ca_freq_data

   Timeframe  Num_Accidents
0      Total         816790
1  Shut_Down          76131
2       2019          38440
3       2018          46203
4       2017          44799

#### Severity
Now compare severities of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018 & 2017 being in same month-day date range as shut-down period) >

In [17]:
# first find percentages of severity ranks to total accidents for 
#   total and for each period 

ca_sp_ttl = severity_percent(ca_ttl)
ca_sp_sd = severity_percent(ca_sd)
ca_sp_2019 = severity_percent(ca_2019)
ca_sp_2018 = severity_percent(ca_2018)
ca_sp_2017 = severity_percent(ca_2017)

# then again create a simple dataframe for comparison

ca_severity_data = pd.DataFrame({'Severity_Rank': [1,2,3,4],
                                 'TTL': ca_sp_ttl,
                                 'Shut_Down': ca_sp_sd,
                                 '2019': ca_sp_2019,
                                 '2018': ca_sp_2018,
                                 '2017': ca_sp_2017,
                                })

ca_severity_data

   Severity_Rank    TTL  Shut_Down   2019   2018   2017
0              1   0.71       7.20   0.01   0.02   0.06
1              2  70.61      80.00  64.69  60.23  62.30
2              3  27.65      10.54  33.61  38.90  36.52
3              4   1.04       2.27   1.69   0.85   1.11

#### CA Takeaways:
- See increase in fequency during shut down period compared to same periods in past three years
- Seeing increase in 'edges' of severity -- 1 & 4 -- of car accidents with lowering of 'middle' severities -- 2 & 3 -- for shutdown period compared to average ttl and past year's prior periods

-
### Texas

First create periods we'll want to compare for the state >

In [18]:
# full state period
tx_ttl = accident_covid[(accident_covid.State == 'TX')]

# shutdown period
tx_sd = accident_covid[
    (accident_covid.State == 'TX') & 
    (accident_covid.Shut_Down == 1)]

# 2019 
tx_2019 = accident_covid[(car_accidents_master['Date'] > '2019-03-31') & 
                         (car_accidents_master['Date'] <= '2019-04-30') & 
                         (car_accidents_master['State'] == 'TX')]

# 2018
tx_2018 = accident_covid[(car_accidents_master['Date'] > '2018-03-31') & 
                         (car_accidents_master['Date'] <= '2018-04-30') & 
                         (car_accidents_master['State'] == 'TX')]

# 2017
tx_2017 = accident_covid[(car_accidents_master['Date'] > '2017-03-31') & 
                         (car_accidents_master['Date'] <= '2017-04-30') & 
                         (car_accidents_master['State'] == 'TX')]

#### Frequency
Now compare frequencies (total number) of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018, & 2017 being in same month-day date range as shut-down period) >

In [19]:
# find total frequencies for state total and in each period 

tx_freqs = [tx_ttl.shape[0],
            tx_sd.shape[0],
            tx_2019.shape[0],
            tx_2018.shape[0],
            tx_2017.shape[0]
           ]

# then develop a simple dataframe to compare them
tx_freq_data = pd.DataFrame({'Timeframe': ['Total','Shut_Down',2019,2018,2017],
                                 'Num_Accidents': tx_freqs})

tx_freq_data

   Timeframe  Num_Accidents
0      Total         329264
1  Shut_Down           4391
2       2019           6496
3       2018           6823
4       2017           7809

#### Severity
Now compare severities of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018 & 2017 being in same month-day date range as shut-down period) >

In [20]:
# first find percentages of severity ranks to total accidents for 
#   total and for each period 

tx_sp_ttl = severity_percent(tx_ttl)
tx_sp_sd = severity_percent(tx_sd)
tx_sp_2019 = severity_percent(tx_2019)
tx_sp_2018 = severity_percent(tx_2018)
tx_sp_2017 = severity_percent(tx_2017)

# then again create a simple dataframe for comparison

tx_severity_data = pd.DataFrame({'Severity_Rank': [1,2,3,4],
                                 'TTL': tx_sp_ttl,
                                 'Shut_Down': tx_sp_sd,
                                 '2019': tx_sp_2019,
                                 '2018': tx_sp_2018,
                                 '2017': tx_sp_2017
                                })

tx_severity_data

   Severity_Rank    TTL  Shut_Down   2019   2018   2017
0              1   0.32       6.40   0.03   0.03   0.03
1              2  71.01      54.18  72.52  70.22  73.52
2              3  27.23      34.50  25.94  28.64  25.27
3              4   1.43       4.92   1.51   1.11   1.19

#### TX Takeaways:
- Frequency: Unlike CA, TX had a drop in frequency during shutdown compared to past periods
- Severity: Similar to CA, still the 'edges' of severity (1 & 4) growing, 4 in particular to a greater degree than CA

-
### Florida

First create periods we'll want to compare for the state >

In [21]:
# full state period
fl_ttl = accident_covid[(accident_covid.State == 'FL')]

# shutdown period
fl_sd = accident_covid[
    (accident_covid.State == 'FL') & 
    (accident_covid.Shut_Down == 1)]

# 2019 
fl_2019 = accident_covid[(car_accidents_master['Date'] > '2019-04-03') & 
                         (car_accidents_master['Date'] <= '2019-04-30') & 
                         (car_accidents_master['State'] == 'FL')]

# 2018
fl_2018 = accident_covid[(car_accidents_master['Date'] > '2018-04-03') & 
                         (car_accidents_master['Date'] <= '2018-04-30') & 
                         (car_accidents_master['State'] == 'FL')]

# 2017
fl_2017 = accident_covid[(car_accidents_master['Date'] > '2017-04-03') & 
                         (car_accidents_master['Date'] <= '2017-04-30') & 
                         (car_accidents_master['State'] == 'FL')]

#### Frequency
Now compare frequencies (total number) of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018, & 2017 being in same month-day date range as shut-down period) >

In [22]:
# find total frequencies for state total and in each period 

fl_freqs = [fl_ttl.shape[0],
            fl_sd.shape[0],
            fl_2019.shape[0],
            fl_2018.shape[0],
            fl_2017.shape[0]
           ]

# then develop a simple dataframe to compare them
fl_freq_data = pd.DataFrame({'Timeframe': ['Total','Shut_Down',2019,2018,2017],
                                 'Num_Accidents': fl_freqs})

fl_freq_data

   Timeframe  Num_Accidents
0      Total         258000
1  Shut_Down           4941
2       2019           4623
3       2018           5023
4       2017           4256

#### Severity
Now compare severities of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018 & 2017 being in same month-day date range as shut-down period) >

In [23]:
# first find percentages of severity ranks to total accidents for 
#   total and for each period 

fl_sp_ttl = severity_percent(fl_ttl)
fl_sp_sd = severity_percent(fl_sd)
fl_sp_2019 = severity_percent(fl_2019)
fl_sp_2018 = severity_percent(fl_2018)
fl_sp_2017 = severity_percent(fl_2017)

# then again create a simple dataframe for comparison

fl_severity_data = pd.DataFrame({'Severity_Rank': [1,2,3,4],
                                 'TTL': fl_sp_ttl,
                                 'Shut_Down': fl_sp_sd,
                                 '2019': fl_sp_2019,
                                 '2018': fl_sp_2018,
                                 '2017': fl_sp_2017
                                })

fl_severity_data

   Severity_Rank    TTL  Shut_Down   2019   2018   2017
0              1   1.17      17.63   0.00   0.00   0.07
1              2  64.15      58.23  65.35  62.45  70.32
2              3  31.23      20.50  29.12  35.24  27.68
3              4   3.46       3.64   5.54   2.31   1.93

#### FL Takeaways:
- Frequency: Not really much change positively or negatively for shutdown compared to past periods
- Severity: Don't see a lot of difference in severity 4 as with CA & TX, but do see significant increase in 1s while 2 & 3 dropped

-
### South Carolina

First create periods we'll want to compare for the state >

In [24]:
# full state period
sc_ttl = accident_covid[(accident_covid.State == 'SC')]

# shutdown period
sc_sd = accident_covid[
    (accident_covid.State == 'SC') & 
    (accident_covid.Shut_Down == 1)]

# 2019 
sc_2019 = accident_covid[(car_accidents_master['Date'] > '2019-04-06') & 
                         (car_accidents_master['Date'] <= '2019-05-04') & 
                         (car_accidents_master['State'] == 'SC')]

# 2018
sc_2018 = accident_covid[(car_accidents_master['Date'] > '2018-04-06') & 
                         (car_accidents_master['Date'] <= '2018-05-04') & 
                         (car_accidents_master['State'] == 'SC')]

# 2017
sc_2017 = accident_covid[(car_accidents_master['Date'] > '2017-04-06') & 
                         (car_accidents_master['Date'] <= '2017-05-04') & 
                         (car_accidents_master['State'] == 'SC')]

#### Frequency
Now compare frequencies (total number) of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018, & 2017 being in same month-day date range as shut-down period) >

In [25]:
# find total frequencies for state total and in each period 

sc_freqs = [sc_ttl.shape[0],
            sc_sd.shape[0],
            sc_2019.shape[0],
            sc_2018.shape[0],
            sc_2017.shape[0]
           ]

# then develop a simple dataframe to compare them
sc_freq_data = pd.DataFrame({'Timeframe': ['Total','Shut_Down',2019,2018,2017],
                                 'Num_Accidents': sc_freqs})

sc_freq_data

   Timeframe  Num_Accidents
0      Total         173255
1  Shut_Down           4142
2       2019           4481
3       2018           5119
4       2017            455

#### Severity
Now compare severities of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018 & 2017 being in same month-day date range as shut-down period) >

In [26]:
# first find percentages of severity ranks to total accidents for 
#   total and for each period 

sc_sp_ttl = severity_percent(sc_ttl)
sc_sp_sd = severity_percent(sc_sd)
sc_sp_2019 = severity_percent(sc_2019)
sc_sp_2018 = severity_percent(sc_2018)
sc_sp_2017 = severity_percent(sc_2017)

# then again create a simple dataframe for comparison

sc_severity_data = pd.DataFrame({'Severity_Rank': [1,2,3,4],
                                 'TTL': sc_sp_ttl,
                                 'Shut_Down': sc_sp_sd,
                                 '2019': sc_sp_2019,
                                 '2018': sc_sp_2018,
                                 '2017': sc_sp_2017
                                })

sc_severity_data

   Severity_Rank    TTL  Shut_Down   2019   2018   2017
0              1   0.07       0.56   0.02   0.02   0.22
1              2  79.28      90.56  77.15  76.40  81.98
2              3  19.98       8.16  21.85  23.36  14.95
3              4   0.68       0.72   0.98   0.21   2.86

#### SC Takeaways:
- Frequency: no significant difference for shutdown period.  2017 seems low, but this may be due to less data collected that year. 
- Severity: in general, seemed to lower in severity.  See more 1 & 2 and less 3 & 4

-
### North Carolina

First create periods we'll want to compare for the state >

In [27]:
# full state period
nc_ttl = accident_covid[(accident_covid.State == 'NC')]

# shutdown period
nc_sd = accident_covid[
    (accident_covid.State == 'NC') & 
    (accident_covid.Shut_Down == 1)]

# 2019 
nc_2019 = accident_covid[(car_accidents_master['Date'] > '2019-03-30') & 
                         (car_accidents_master['Date'] <= '2019-05-22') & 
                         (car_accidents_master['State'] == 'NC')]

# 2018
nc_2018 = accident_covid[(car_accidents_master['Date'] > '2018-03-30') & 
                         (car_accidents_master['Date'] <= '2018-05-22') & 
                         (car_accidents_master['State'] == 'NC')]

# 2017
nc_2017 = accident_covid[(car_accidents_master['Date'] > '2017-03-30') & 
                         (car_accidents_master['Date'] <= '2017-05-22') & 
                         (car_accidents_master['State'] == 'NC')]

#### Frequency
Now compare frequencies (total number) of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018, & 2017 being in same month-day date range as shut-down period) >

In [28]:
# find total frequencies for state total and in each period 

nc_freqs = [nc_ttl.shape[0],
            nc_sd.shape[0],
            nc_2019.shape[0],
            nc_2018.shape[0],
            nc_2017.shape[0]
           ]

# then develop a simple dataframe to compare them
nc_freq_data = pd.DataFrame({'Timeframe': ['Total','Shut_Down',2019,2018,2017],
                                 'Num_Accidents': nc_freqs})

nc_freq_data

   Timeframe  Num_Accidents
0      Total         165956
1  Shut_Down           7641
2       2019           7539
3       2018           9659
4       2017           1530

#### Severity
Now compare severities of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018 & 2017 being in same month-day date range as shut-down period) >

In [29]:
# first find percentages of severity ranks to total accidents for 
#   total and for each period 

nc_sp_ttl = severity_percent(nc_ttl)
nc_sp_sd = severity_percent(nc_sd)
nc_sp_2019 = severity_percent(nc_2019)
nc_sp_2018 = severity_percent(nc_2018)
nc_sp_2017 = severity_percent(nc_2017)

# then again create a simple dataframe for comparison

nc_severity_data = pd.DataFrame({'Severity_Rank': [1,2,3,4],
                                 'TTL': nc_sp_ttl,
                                 'Shut_Down': nc_sp_sd,
                                 '2019': nc_sp_2019,
                                 '2018': nc_sp_2018,
                                 '2017': nc_sp_2017
                                })

nc_severity_data

   Severity_Rank    TTL  Shut_Down   2019   2018   2017
0              1   1.09       8.17   0.04   0.03   0.00
1              2  83.79      75.71  85.30  85.11  91.18
2              3  13.28      12.75  12.20  13.72   4.18
3              4   1.84       3.38   2.45   1.14   4.64

#### NC Takeaways:
- Fequency: No significant change during shutdown period
- Severity: Do see an increase in level 4 severity, but greatest change is increase in severity 1 with drop in severity 2

-
### New York

First create periods we'll want to compare for the state >

In [30]:
# full state period
ny_ttl = accident_covid[(accident_covid.State == 'NY')]

# shutdown period
ny_sd = accident_covid[
    (accident_covid.State == 'NY') & 
    (accident_covid.Shut_Down == 1)]

# 2019 
ny_2019 = accident_covid[(car_accidents_master['Date'] > '2019-03-22') & 
                         (car_accidents_master['Date'] <= '2019-06-13') & 
                         (car_accidents_master['State'] == 'NY')]

# 2018
ny_2018 = accident_covid[(car_accidents_master['Date'] > '2018-03-22') & 
                         (car_accidents_master['Date'] <= '2018-06-13') & 
                         (car_accidents_master['State'] == 'NY')]

# 2017
ny_2017 = accident_covid[(car_accidents_master['Date'] > '2017-03-22') & 
                         (car_accidents_master['Date'] <= '2017-06-13') & 
                         (car_accidents_master['State'] == 'NY')]

#### Frequency
Now compare frequencies (total number) of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018, & 2017 being in same month-day date range as shut-down period) >

In [31]:
# find total frequencies for state total and in each period 

ny_freqs = [ny_ttl.shape[0],
            ny_sd.shape[0],
            ny_2019.shape[0],
            ny_2018.shape[0],
            ny_2017.shape[0]
           ]

# then develop a simple dataframe to compare them
ny_freq_data = pd.DataFrame({'Timeframe': ['Total','Shut_Down',2019,2018,2017],
                                 'Num_Accidents': ny_freqs})

ny_freq_data

   Timeframe  Num_Accidents
0      Total         160803
1  Shut_Down          12442
2       2019          10586
3       2018           7933
4       2017           6319

#### Severity
Now compare severities of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018 & 2017 being in same month-day date range as shut-down period) >

In [32]:
# first find percentages of severity ranks to total accidents for 
#   total and for each period 

ny_sp_ttl = severity_percent(ny_ttl)
ny_sp_sd = severity_percent(ny_sd)
ny_sp_2019 = severity_percent(ny_2019)
ny_sp_2018 = severity_percent(ny_2018)
ny_sp_2017 = severity_percent(ny_2017)

# then again create a simple dataframe for comparison

ny_severity_data = pd.DataFrame({'Severity_Rank': [1,2,3,4],
                                 'TTL': ny_sp_ttl,
                                 'Shut_Down': ny_sp_sd,
                                 '2019': ny_sp_2019,
                                 '2018': ny_sp_2018,
                                 '2017': ny_sp_2017
                                })

ny_severity_data

   Severity_Rank    TTL  Shut_Down   2019   2018   2017
0              1   0.45       4.55   0.02   0.04   0.03
1              2  59.73      55.33  66.75  54.00  55.15
2              3  35.37      31.43  30.35  42.28  39.42
3              4   4.44       8.70   2.88   3.68   5.40

#### NY Takeaways:
- Frequency: See an increase in shutdown period, although there was also an even larger jump from 2018 to 2019
- Severity: See increase in edge severities (1 & 2)

-
### Pennsylvania

First create periods we'll want to compare for the state >

In [33]:
# full state period
pa_ttl = accident_covid[(accident_covid.State == 'PA')]

# shutdown period
pa_sd = accident_covid[
    (accident_covid.State == 'PA') & 
    (accident_covid.Shut_Down == 1)]

# 2019 
pa_2019 = accident_covid[(car_accidents_master['Date'] > '2019-03-23') & 
                         (car_accidents_master['Date'] <= '2019-06-04') & 
                         (car_accidents_master['State'] == 'PA')]

# 2018
pa_2018 = accident_covid[(car_accidents_master['Date'] > '2018-03-23') & 
                         (car_accidents_master['Date'] <= '2018-06-04') & 
                         (car_accidents_master['State'] == 'PA')]

# 2017
pa_2017 = accident_covid[(car_accidents_master['Date'] > '2017-03-23') & 
                         (car_accidents_master['Date'] <= '2017-06-04') & 
                         (car_accidents_master['State'] == 'PA')]

#### Frequency
Now compare frequencies (total number) of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018, & 2017 being in same month-day date range as shut-down period) >

In [34]:
# find total frequencies for state total and in each period 

pa_freqs = [pa_ttl.shape[0],
            pa_sd.shape[0],
            pa_2019.shape[0],
            pa_2018.shape[0],
            pa_2017.shape[0]
           ]

# then develop a simple dataframe to compare them
pa_freq_data = pd.DataFrame({'Timeframe': ['Total','Shut_Down',2019,2018,2017],
                                 'Num_Accidents': pa_freqs})

pa_freq_data

   Timeframe  Num_Accidents
0      Total         106748
1  Shut_Down           8576
2       2019           3633
3       2018           4344
4       2017           5510

#### Severity
Now compare severities of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018 & 2017 being in same month-day date range as shut-down period) >

In [35]:
# first find percentages of severity ranks to total accidents for 
#   total and for each period 

pa_sp_ttl = severity_percent(pa_ttl)
pa_sp_sd = severity_percent(pa_sd)
pa_sp_2019 = severity_percent(pa_2019)
pa_sp_2018 = severity_percent(pa_2018)
pa_sp_2017 = severity_percent(pa_2017)

# then again create a simple dataframe for comparison

pa_severity_data = pd.DataFrame({'Severity_Rank': [1,2,3,4],
                                 'TTL': pa_sp_ttl,
                                 'Shut_Down': pa_sp_sd,
                                 '2019': pa_sp_2019,
                                 '2018': pa_sp_2018,
                                 '2017': pa_sp_2017
                                })

pa_severity_data

   Severity_Rank    TTL  Shut_Down   2019   2018   2017
0              1   0.21       1.59   0.00   0.05   0.05
1              2  73.73      65.64  67.96  67.31  80.34
2              3  20.72      26.38  26.26  28.13  13.03
3              4   5.35       6.40   5.78   4.51   6.57

#### PA Takeaways:
- Frequency: See a fairly significant increase in accidents during shutdown period
- Severity: See increase in severity 1 and drop in severity 2, but not that large

-
### Illinois

First create periods we'll want to compare for the state >

In [36]:
# full state period
il_ttl = accident_covid[(accident_covid.State == 'IL')]

# shutdown period
il_sd = accident_covid[
    (accident_covid.State == 'IL') & 
    (accident_covid.Shut_Down == 1)]

# 2019 
il_2019 = accident_covid[(car_accidents_master['Date'] > '2019-03-25') & 
                         (car_accidents_master['Date'] <= '2019-05-31') & 
                         (car_accidents_master['State'] == 'IL')]

# 2018
il_2018 = accident_covid[(car_accidents_master['Date'] > '2018-03-25') & 
                         (car_accidents_master['Date'] <= '2018-05-31') & 
                         (car_accidents_master['State'] == 'IL')]

# 2017
il_2017 = accident_covid[(car_accidents_master['Date'] > '2017-03-25') & 
                         (car_accidents_master['Date'] <= '2017-05-31') & 
                         (car_accidents_master['State'] == 'IL')]

#### Frequency
Now compare frequencies (total number) of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018, & 2017 being in same month-day date range as shut-down period) >

In [37]:
# find total frequencies for state total and in each period 

il_freqs = [il_ttl.shape[0],
            il_sd.shape[0],
            il_2019.shape[0],
            il_2018.shape[0],
            il_2017.shape[0]
           ]

# then develop a simple dataframe to compare them
il_freq_data = pd.DataFrame({'Timeframe': ['Total','Shut_Down',2019,2018,2017],
                                 'Num_Accidents': il_freqs})

il_freq_data

   Timeframe  Num_Accidents
0      Total          99686
1  Shut_Down           5037
2       2019           3681
3       2018           3714
4       2017           4737

#### Severity
Now compare severities of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018 & 2017 being in same month-day date range as shut-down period) >

In [38]:
# first find percentages of severity ranks to total accidents for 
#   total and for each period 

il_sp_ttl = severity_percent(il_ttl)
il_sp_sd = severity_percent(il_sd)
il_sp_2019 = severity_percent(il_2019)
il_sp_2018 = severity_percent(il_2018)
il_sp_2017 = severity_percent(il_2017)

# then again create a simple dataframe for comparison

il_severity_data = pd.DataFrame({'Severity_Rank': [1,2,3,4],
                                 'TTL': il_sp_ttl,
                                 'Shut_Down': il_sp_sd,
                                 '2019': il_sp_2019,
                                 '2018': il_sp_2018,
                                 '2017': il_sp_2017
                                })

il_severity_data

   Severity_Rank    TTL  Shut_Down   2019   2018   2017
0              1   0.27       3.59   0.00   0.11   0.06
1              2  63.60      18.23  62.70  62.74  69.07
2              3  32.75      72.76  30.64  33.23  27.93
3              4   3.38       5.42   6.66   3.93   2.93

#### IL Takeaways:
- Frequency: Increase during shutdown period
- Severity: Large increase in severity 3 and decrese in severity 2.  Also increase in severity 1

-
### Virginia

First create periods we'll want to compare for the state >

In [39]:
# full state period
va_ttl = accident_covid[(accident_covid.State == 'VA')]

# shutdown period
va_sd = accident_covid[
    (accident_covid.State == 'VA') & 
    (accident_covid.Shut_Down == 1)]

# 2019 
va_2019 = accident_covid[(car_accidents_master['Date'] > '2019-03-30') & 
                         (car_accidents_master['Date'] <= '2019-06-10') & 
                         (car_accidents_master['State'] == 'VA')]

# 2018
va_2018 = accident_covid[(car_accidents_master['Date'] > '2018-03-30') & 
                         (car_accidents_master['Date'] <= '2018-06-10') & 
                         (car_accidents_master['State'] == 'VA')]

# 2017
va_2017 = accident_covid[(car_accidents_master['Date'] > '2017-03-30') & 
                         (car_accidents_master['Date'] <= '2017-06-10') & 
                         (car_accidents_master['State'] == 'VA')]

#### Frequency
Now compare frequencies (total number) of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018, & 2017 being in same month-day date range as shut-down period) >

In [40]:
# find total frequencies for state total and in each period 

va_freqs = [va_ttl.shape[0],
            va_sd.shape[0],
            va_2019.shape[0],
            va_2018.shape[0],
            va_2017.shape[0]
           ]

# then develop a simple dataframe to compare them
va_freq_data = pd.DataFrame({'Timeframe': ['Total','Shut_Down',2019,2018,2017],
                                 'Num_Accidents': va_freqs})

va_freq_data

   Timeframe  Num_Accidents
0      Total          96069
1  Shut_Down           8207
2       2019           5175
3       2018           4123
4       2017           2255

#### Severity
Now compare severities of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018 & 2017 being in same month-day date range as shut-down period) >

In [41]:
# first find percentages of severity ranks to total accidents for 
#   total and for each period 

va_sp_ttl = severity_percent(va_ttl)
va_sp_sd = severity_percent(va_sd)
va_sp_2019 = severity_percent(va_2019)
va_sp_2018 = severity_percent(va_2018)
va_sp_2017 = severity_percent(va_2017)

# then again create a simple dataframe for comparison

va_severity_data = pd.DataFrame({'Severity_Rank': [1,2,3,4],
                                 'TTL': va_sp_ttl,
                                 'Shut_Down': va_sp_sd,
                                 '2019': va_sp_2019,
                                 '2018': va_sp_2018,
                                 '2017': va_sp_2017
                                })

va_severity_data

   Severity_Rank    TTL  Shut_Down   2019   2018   2017
0              1   1.81      15.36   0.04   0.00   0.00
1              2  53.75      58.60  58.28  43.39  49.53
2              3  38.70      20.32  35.83  51.52  41.55
3              4   5.74       5.71   5.86   5.09   8.91

#### VA Takeaways:
- Frequency:  See a large increase in frequency during shutdown
- Severity: Significant increase in severity 1 and drop in severity 3

-
### Michigan

First create periods we'll want to compare for the state >

In [42]:
# full state period
mi_ttl = accident_covid[(accident_covid.State == 'MI')]

# shutdown period
mi_sd = accident_covid[
    (accident_covid.State == 'MI') & 
    (accident_covid.Shut_Down == 1)]

# 2019 
mi_2019 = accident_covid[(car_accidents_master['Date'] > '2019-03-24') & 
                         (car_accidents_master['Date'] <= '2019-05-28') & 
                         (car_accidents_master['State'] == 'MI')]

# 2018
mi_2018 = accident_covid[(car_accidents_master['Date'] > '2018-03-24') & 
                         (car_accidents_master['Date'] <= '2018-05-28') & 
                         (car_accidents_master['State'] == 'MI')]

# 2017
mi_2017 = accident_covid[(car_accidents_master['Date'] > '2017-03-24') & 
                         (car_accidents_master['Date'] <= '2017-05-28') & 
                         (car_accidents_master['State'] == 'MI')]

#### Frequency
Now compare frequencies (total number) of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018, & 2017 being in same month-day date range as shut-down period) >

In [43]:
# find total frequencies for state total and in each period 

mi_freqs = [mi_ttl.shape[0],
            mi_sd.shape[0],
            mi_2019.shape[0],
            mi_2018.shape[0],
            mi_2017.shape[0]
           ]

# then develop a simple dataframe to compare them
mi_freq_data = pd.DataFrame({'Timeframe': ['Total','Shut_Down',2019,2018,2017],
                                 'Num_Accidents': mi_freqs})

mi_freq_data

   Timeframe  Num_Accidents
0      Total          95959
1  Shut_Down           2010
2       2019           3392
3       2018           4558
4       2017           4514

#### Severity
Now compare severities of car accidents for total, shut-down period in 2020, 2019, 2018, and 2017 (2019, 2018 & 2017 being in same month-day date range as shut-down period) >

In [44]:
# first find percentages of severity ranks to total accidents for 
#   total and for each period 

mi_sp_ttl = severity_percent(mi_ttl)
mi_sp_sd = severity_percent(mi_sd)
mi_sp_2019 = severity_percent(mi_2019)
mi_sp_2018 = severity_percent(mi_2018)
mi_sp_2017 = severity_percent(mi_2017)

# then again create a simple dataframe for comparison

mi_severity_data = pd.DataFrame({'Severity_Rank': [1,2,3,4],
                                 'TTL': mi_sp_ttl,
                                 'Shut_Down': mi_sp_sd,
                                 '2019': mi_sp_2019,
                                 '2018': mi_sp_2018,
                                 '2017': mi_sp_2017
                                })

mi_severity_data

   Severity_Rank    TTL  Shut_Down   2019   2018   2017
0              1   0.06       0.95   0.00   0.02   0.00
1              2  59.45      61.44  61.56  59.04  56.76
2              3  34.95      28.31  31.93  35.65  38.83
3              4   5.55       9.30   6.52   5.29   4.41

#### MI Takeaways:
- Frequency: Drop in number of accidents
- Severity: Increase in edges of severity 1 & 4 -- most dramatic with severity 4

-
### Top 10 (most accidents) States

Combining numbers for the Top 10 states to see average trends for those states >

#### Frequency

In [45]:
# combine fequency data for the top 10 states 

top10_freq_data = (ca_freq_data + 
                   tx_freq_data +
                   fl_freq_data +
                   sc_freq_data +
                   nc_freq_data +
                   ny_freq_data +
                   pa_freq_data +
                   il_freq_data +
                   va_freq_data +
                   mi_freq_data)

top10_freq_data['Timeframe'] = ['Total','Shut_Down',2019,2018,2017]

top10_freq_data

   Timeframe  Num_Accidents
0      Total        2302530
1  Shut_Down         133518
2       2019          88046
3       2018          97499
4       2017          82184

#### Severity

For average severity rank for top 10 states, we will include weighting for each state based on the states number of accidents compared to all accidents for the top 10 states

In [60]:
# finding weight for each state to then include in next cell

len(accident_covid[accident_covid.State == 'MI'])/accident_covid.State.value_counts()[:9].sum()

0.0434878370104565

In [65]:
# add all state severity dfs together

top10_severity_data = (ca_severity_data * 37 +
                       tx_severity_data * 15 +
                       fl_severity_data * 11 +
                       sc_severity_data * 8 +
                       nc_severity_data * 8 +
                       ny_severity_data * 7 +
                       pa_severity_data * 5 +
                       il_severity_data * 5 +
                       va_severity_data * 4 +
                       mi_severity_data * 4)

# divide by 10 to get average for the 10 states
top10_severity_data = round(top10_severity_data.div(104),2)

top10_severity_data

   Severity_Rank    TTL  Shut_Down   2019   2018   2017
0            1.0   0.64       7.20   0.02   0.03   0.06
1            2.0  69.67      67.60  68.27  64.41  68.51
2            3.0  27.41      21.25  28.78  33.70  28.75
3            4.0   2.29       3.95   2.94   1.86   2.68

#### Top 10 Takeaways:
- Frequency: See an increase during shutdown period compared to past periods
- Severity: See greatest shift in severity 1 -- an increase.  Severity 4's are also showing an increase, but not as significant as severity 1.  Changes in severity 4 seem to be more on a state-by-state basis